@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Back One */
.back_one {
    background: linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url("../img/one_back.avif");
    background: linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url(../img/one_back.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: justify;
    padding: 240px 500px;
}
.back_one h1 {
    text-align: center;
    color: rgb(224, 203, 171);
    font-size: 54px;
    text-shadow: 0 0 5px BLACK;
}
.back_one p{
    color: rgb(224, 203, 171);
    text-shadow: 0 0 5px BLACK;
}

/*Products*/
.products_box {
    padding: 0 200px;
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.product {
    width: 20%;
    border: 1px solid #f9dab3;
    border-radius: 20px;
}
.product img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.pro_about {
    text-align: center;
    padding: 8px 10px;
}
.pro_about p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}
.pro_buy ul{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.pro_buy button {
    font-family: "Poppins", sans-serif;
    border: none;
    color: #f9dab3;
    background-color: #3a3a3a;    
    padding: 6px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.pro_buy button:hover {
    color: #3a3a3a;
    background-color: #f9dab3;
}
.pro_img {
    position: relative;
}
.pro_img i {
    position: absolute;
    top: 10px;
    right: 8px;
    background: #f9dab3;
    padding: 6px 5px 5px 6px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    font-size: 14px;
}
.pro_img i:hover {
    color: red;
    box-shadow: 0 0 5px red;
}